// Abstract files
@import "abstracts/_variables";

// Core files
@import "core/_reset";
@import "core/_typography";
@import "core/_custom";


// Vendor Files
// @import "vendor/bootstrap.scss";
// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "vendors/agGridCommunity";
@import "vendors/vCalendar";
@import "vendors/vueMultiSelect";
@import "vendors/multiselect";
// Components
@import "components/card";
@import "components/button";
@import "components/notification";

// Layout
@import "layout/grid";
@import "layout/header";
@import "layout/navigation";
@import "layout/sidebar";

// Sections
// @import "sections/all";

// Pages
// @import "pages/all";


//Colors
$color-primary: #00205C;
$color-primary-tint1: rgba(0,32,92,.65);
$color-white: #FFFFFF;
$color-grey: #F5F6FA;

$color-sec-blue: #009ADE;
$color-sec-blue-tint1: rgb(121,181,227);

$color-sec-orange: #F26829;
$color-sec-orange-tint1: rgb(252,188,113);

$color-sec-yellow: #F4A81D;
$color-sec-yellow-tint1: rgb(248,195,112);

$color-sec-magenta: #A6228C;
$color-sec-magenta-tint1: rgb(190,115,173);

$color-sec-purple: #5B2C86;
$color-sec-purple-tint1: rgb(174,169,212);

$color-sec-green: #80BC00;
$color-sec-green-tint1: rgb(170,207,127);

$color-black: #000000;
$color-red: #EF3842;

// Typography
$font-family-who: 'Source Sans Pro', sans-serif;
$font-size-large: clamp(2.5rem, 2.1519rem + 1.3263vw, 3.75rem);
$font-size-title: clamp(1.563rem, 1.3709rem + 0.8537vw, 2.438rem);
$font-size-normal: clamp(0.75rem, 0.6951rem + 0.2439vw, 1rem);

$font-weight-normal: 400;
$font-weight-bold: 700;

// Body
$body-bg: $color-grey;
.fancy-btn{
    color: black;
    background: blanchedalmond;
    border: 1px solid #000;
  }

.invalid-feedback{
    display: block;
}
.notifications{
    max-height: 600px !important;
    overflow:scroll;
}
.w-15{
    width: 15%;
}
.w-10{
    width: 10%;
}
.w-5{
    width: 5%;
}
.nav-link:hover, .nav-link:focus {
    color: $color-sec-orange !important;
}
[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
  }
  [type="file"]::-webkit-file-upload-button {
      line-height: 20px;
  }

  .is-equal{
          border-color: green;
          box-shadow: 0 0 0 0.2rem rgba(73, 231, 25, 0.25) !important;
      }
  .card-primary.card-outline {
      border-top: 3px solid #ff2300;
  }
  .profile-pic {
    color: transparent;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 0.3s ease;
  }
  .profile-pic input {
    display: none;
  }
  .profile-pic img {
    position: absolute;
    object-fit: cover;
    width: 100px;
    height: 100px;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.663);
    border-radius: 100px;
    z-index: 0;
  }
  .profile-pic .-label {
    cursor: pointer;
    height: 100px;
    width: 100px;
    margin-bottom: 0;
  }
  .profile-pic:hover .-label {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.173);
    z-index: 10000;
    color: #fafafa;
    border-radius: 100px;
    margin-bottom: 0;
  }
  .profile-pic span {
    display: inline-flex;
    padding: 0.2em;
    height: 2em;
  }
  .img-lg {
    width: 200px;
  }
  .form-check-input{
    margin-right: 10px !important;
  }

