// Abstract files
@import "abstracts/_variables";

// Core files
@import "core/_reset";
@import "core/_typography";


// Vendor Files
// @import "vendor/bootstrap.scss";
// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "vendors/vueToastification";
@import "vendors/agGridCommunity";
@import "vendors/vCalendar";
@import "vendors/vueMultiSelect";
// Components
@import "components/card";
@import "components/button";
@import "components/notification";

// Layout
@import "layout/grid";
@import "layout/header";
@import "layout/navigation";
@import "layout/sidebar";

// Sections
// @import "sections/all";

// Pages
// @import "pages/all";

.invalid-feedback{
    display: block;
}
.notifications{
    max-height: 600px !important;
    overflow:scroll;
}
